node_modules/
**/node_modules/
dist/
build/
.turbo/
.DS_Store
.env
.env.*
.vscode/
.idea/
.npm/
.DS_Store
uploads/
/*.log
pnpm-lock.yaml
package-lock.json
yarn.lock
/.cache
/.pnp
/.pnp.js
.next/
coverage/
*.local
*.log
/.vite
client/dist/
server/.env
server/uploads/
/.history
node_modules
.env
server/uploads
client/dist
.DS_Store
